body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.map-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Maksimal kenglik */
  margin: 20px auto;
}
.map-container img {
  width: 100%; /* Xarita kengligi */
  display: block;
}
.map-point {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.info-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding-left: 15px;
  padding-top: 16px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Faqat nuqtaga bosilganda ko'rinadi */
}
